target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
.idea/misc.xml
.idea/sqldialects.xml
.idea/.name
.idea/misc.xml
src/main/java/application/controller/AggiornaFilmServlet.java
src/main/java/application/controller/AggiungiFilmServlet.java
src/main/java/application/controller/AggiungiListaServlet.java
src/main/java/application/controller/FilmServlet.java
src/main/java/application/controller/ListaServlet.java
src/main/java/application/controller/MainServlet.java
src/main/java/application/controller/MainServletAdmin.java
src/main/java/application/controller/ModificaFilmServlet.java
src/main/java/storage/model/FilmDAO.java
src/main/java/storage/model/ListaDAO.java
src/main/webapp/css/admin/aggiungiFilm.css
src/main/webapp/css/admin/modificaFilm.css
src/main/webapp/css/creazioneLista.css
src/main/webapp/css/gestioneLista.css
src/main/webapp/css/infoListe.css
src/main/webapp/css/liste.css
src/main/webapp/index.jsp
src/main/webapp/WEB-INF/gui/creazioneLista.jsp
src/main/webapp/WEB-INF/gui/film.jsp
src/main/webapp/WEB-INF/gui/gestioneLista.jsp
src/main/webapp/WEB-INF/gui/infoListe.jsp
src/main/webapp/WEB-INF/gui/liste.jsp
src/main/webapp/WEB-INF/guiAdmin/aggiungiFilm.jsp
src/main/webapp/WEB-INF/guiAdmin/gestisciFilm.jsp
src/main/webapp/WEB-INF/guiAdmin/modificaFilm.jsp
.idea/.name
.idea/misc.xml
src/main/java/application/controller/AggiungiFilmServlet.java
src/main/java/application/controller/AggiungiListaServlet.java
src/main/java/application/controller/FilmServlet.java
src/main/java/application/controller/ListaServlet.java
src/main/java/application/controller/MainServlet.java
src/main/java/application/controller/MainServletAdmin.java
src/main/java/storage/model/FilmDAO.java
src/main/java/storage/model/ListaDAO.java
src/main/webapp/css/admin/aggiungiFilm.css
src/main/webapp/css/liste.css
src/main/webapp/index.jsp
src/main/webapp/WEB-INF/gui/creazioneLista.jsp
src/main/webapp/WEB-INF/gui/film.jsp
src/main/webapp/WEB-INF/gui/gestioneLista.jsp
src/main/webapp/WEB-INF/gui/infoListe.jsp
src/main/webapp/WEB-INF/gui/liste.jsp
src/main/webapp/WEB-INF/guiAdmin/aggiungiFilm.jsp
.idea/.name
