/* Add your custom styles here */

body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.container-info {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add_product {
    text-align: left; /* Align the form elements to the left */
}

form {
    margin-top: 20px;
}

h3 {
    color: #ffa31a;
    text-align: center; /* Center the text within the h3 element */
}

label, input, textarea {
    display: block;
    margin-top: 10px;
}

textarea {
    width: 100%;
    resize: vertical;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.form-check {
    margin-top: 10px;
}

.btn_add {
    background-color: #ffa31a;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-radius: 5px;
}

.btn_add:hover {
    background-color: #1b1b1b;
    color: #ffffff;
}
