.body{
    background: #35332f;
}

#filtri-genre{
    width: 90%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.genre-filter{
    margin-left: 30px;
    margin-right: 3px;
}

#container-film{
    margin: 50px;
    margin-top: 20px;
}

.row-cols-1>* {
    width: 50%;
}

#div-filtri{
    margin-left: 5%;
    background: #808080;
    margin-right: 5%;
    border-radius: 10px;
    padding: 10px;
}
#search-container {
    margin-top: 20px; /* Aggiunto margine sopra */
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-container h2 {
    margin-right: 10px; /* Aggiunto margine tra la scritta "Cerca" e l'input */
    color: #ffa31a;
}

#searchInput {
    width: 300px;
    margin-top: 5px; /* Aggiunto margine sopra l'input */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#searchInput:focus {
    border-color: #ffa31a;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

.title_release{
    text-transform: uppercase;
    font-weight: bold;
    color: #ffa31a;
    margin-top: 3rem;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*pulsanti valutazione consigliati*/
.thumb-container {
    text-align: center;
    margin-top: 20px;
}

.thumb-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 10px;
}

h3{
    color: #ffa31a;
}