/*section{*/
/*    padding: 20px;*/
/*    width: 100%;*/
/*}*/

/*section ul{*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    margin-bottom: 10px;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*}*/

/*section ul li{*/
/*    list-style: none;*/
/*    padding: 8px 20px;*/
/*    margin: 5px;*/
/*    letter-spacing: 1px;*/
/*    cursor: pointer;*/
/*    background: #ffffff;*/
/*    border: 2px solid #ffa31a;*/
/*}*/

/*section ul li.active{*/
/*    background: #ffa31a;*/
/*    color: #ffffff;*/
/*}*/

/*.list:hover{*/
/*    background-color: #ffa31a;*/
/*    color: #ffffff;*/
/*}*/

.body{
    background: #35332f;
}

#filtri-genre{
    width: 90%;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.genre-filter{
    margin-left: 30px;
    margin-right: 3px;
}

#container-film{
    margin: 50px;
}

.row-cols-1>* {
    width: 50%;
}

#div-filtri{
    margin-left: 5%;
    margin-top: 5%;
    background: #808080;
    margin-right: 5%;
    border-radius: 10px;
    padding: 10px;
}
#search-container {
    margin-top: 20px; /* Aggiunto margine sopra */
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-container h2 {
    margin-right: 10px; /* Aggiunto margine tra la scritta "Cerca" e l'input */
    color: #ffa31a;
}

#searchInput {
    width: 300px;
    margin-top: 5px; /* Aggiunto margine sopra l'input */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#searchInput:focus {
    border-color: #ffa31a;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 1);
}
