/* Add your custom styles here */

.body {
    background-color: #292929;
}

.update_list {
    background-color: #ffffff;
    margin: 20px auto;
    max-width: 600px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modify_list_title {
    color: #ffa31a;
    text-align: center;
    font-weight: bold;
}

form {
    margin-top: 20px;
}

label,
input {
    display: block;
    margin-top: 10px;
}

/* Style for text inputs */
input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
    box-sizing: border-box;
}

input[type="text"]:hover,
input[type="file"]:hover {
    border: 1px solid #1b1b1b;/* Add border when hovering */
    transition: 0.3s ease;
}



/* Style for ID input box */
#id-input {
    background-color: #ddd; /* Adjust the color as needed */
}

input[type="file"] {
    cursor: pointer;
}

.btnadd {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

/* Common styles for buttons */
.btn:hover {
    transform: translateY(-3px);
    transition: 0.3s ease;

}

.btn-warning {
    background-color: #ffc107;
    color: #000;
    border: none;
}

.btn-warning:hover {
    background-color: #ffca2b;
    transition: 0.3s ease;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
}

.btn-danger:hover {
    background-color: #bd2130;
    transition: 0.3s ease;

}
