/* Add your custom styles here */

body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

.update_list {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add_prod_title {
    color: #ffa31a;
    text-align: center;
}

form {
    margin-top: 20px;
}

label, input {
    display: block;
    margin-top: 10px;
}

input[type="file"] {
    margin-top: 10px;
}

.btnadd {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn-warning {
    background-color: #ffc107;
    color: #000;
    border: none;
}

.btn-warning:hover {
    background-color: #ffca2b;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
}

.btn-danger:hover {
    background-color: #bd2130;
}
