*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1;
    /*font-family: 'Roboto', sans-serif;*/
}

/*html{*/
/*    overflow-x: hidden;*/
/*    scroll-padding-top: 9rem;*/
/*    scroll-behavior: smooth;*/
/*}*/

/*html::-webkit-scrollbar{*/
/*    width: .8rem;*/
/*}*/

/*html::-webkit-scrollbar-track{*/
/*    background: #ffa31a;*/
/*}*/

/*html::-webkit-scrollbar-thumb{*/
/*    background: black;*/
/*    border-radius: 1px;*/
/*}*/

img{
    width: 100%;
    display: block;
}

.main-wrapper{
    min-height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/sfondologin.jpeg");
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}

.film-div{
    margin: 1rem 0;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr auto);
    background-color: #ffa31a;
    border-radius: 3px;
    column-gap: 10px;
}

.film-div-left{
    border-right:2px solid  black;
    padding: 20px;
}

.film-div-right{
    padding: 20px;
}

.img-container img{
    width: 50%;
    /*height: 80%;*/
    margin: 0 auto;
}

.film-div-right span{
    display: block;
}

.film-titolo, .film-recensione{
    color: black;
    font-size: 26px;
    margin-bottom: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
}

.film-recensione{
    margin-left: 20px;
}

.film-genere{
    font-size: 24px;
    opacity: 0.9;
    font-weight: 400;
}

.film-descrizione{
    line-height: 1.6;
    font-weight: 300;
    opacity: 0.9;
    margin-top: 22px;
}

.btn-groups{
    margin-top: 22px;
}

.btn_add{
    margin-left: 10px;
    text-decoration: none;
    border-radius: 4px;
    text-transform: uppercase;
    padding: 1rem;
    background-color: #ffa31a;
    border: 2px solid black;
    color: black;
    transition: all .2s linear;
}

.btn_add:hover{
    background-color: #eabd77;
    border: 2px solid black;
    color: black;
    transition: all .2s linear;
}

@media screen and (min-width: 992px){
    .film-div, .recensione-div{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px){
    .img-container img{
        width: 100%;
        height: auto;
        margin: 0 auto;
    }
}

@media screen and (max-width: 576px){
    .film-descrizione{
        max-width: none;
    }
}

@media screen and (max-width: 320px) {
    .film-titolo, .film-recensione{
        font-size: 22px;
    }
    .film-genere {
        font-size: 20px;
    }
    .btn_add{
        font-size: 0.7rem;
    }
}

.recensione-div{
    margin-top: 1rem;
    margin-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 0;
    background-color: #eabd77;
    border-radius: 0; /* Assicura che l'arrotondamento sia solo nella parte superiore */
    border-top-left-radius: 3px; /* Arrotonda solo l'angolo in alto a sinistra */
    border-top-right-radius: 3px; /* Arrotonda solo l'angolo in alto a destra */
    column-gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Le colonne si adattano automaticamente alla larghezza dello schermo */
    grid-gap: 5px; /* Spazio tra le celle */
}

.recensione-div-film{
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 1rem 0;
    background-color: #eabd77;
    border-radius: 3px;
    border-top-left-radius: 0; /* Arrotondamento solo per l'angolo in basso a sinistra */
    border-top-right-radius: 0; /* Arrotondamento solo per l'angolo in basso a destra */
    column-gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Le colonne si adattano automaticamente alla larghezza dello schermo */
    grid-gap: 10px; /* Spazio tra le celle */
}

.grid-item {
    padding: 5px;
    text-align: center;
}

.email-user {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.dataInserimento {
    font-style: italic;
    color: #666;
}

/* Stile generale per le stelle */
.stella {
    font-size: 20px; /* Imposta la dimensione desiderata per le stelle */
    color: #ffc107; /* Imposta il colore per le stelle */
    background: black;
    display: inline-block; /* Assicura che le stelle siano visualizzate su una riga */
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Stile per le stelle piene */
.stella.piena::before {
    background: #ffa31a;
    content: "\f005"; /* Utilizza il codice dell'icona stella piena di Font Awesome */
    font-family: "Font Awesome 5 Free"; /* Specifica il font di Font Awesome */
}

/* Stile per le stelle vuote */
.stella.vuota::before {
    background: white;
    content: "\f005"; /* Utilizza il codice dell'icona stella vuota di Font Awesome */
    font-family: "Font Awesome 5 Free"; /* Specifica il font di Font Awesome */
}
