/* Add your custom styles here */

.body {
    background-color: #292929;
    color: #212529;
}

.containervuoto {
    font-weight: bold;
    color: #ffa31a;
    text-align: center;
    margin-top: 50px;
}

.add_film {
    background-color: #ffa31a;
    color: #292929;
    padding: 8px 16px; /* Adjusted padding for smaller screens */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add_film:hover {
    font-size: 1.1em;
    background-color: #EF6D16;
    color: #ffffff;
    transition: font-size 0.3s ease;
}

h1 {
    color: #ffa31a;
}

.container {
    margin-top: 20px;
}

.table th,
.table td {
    color: #ffffff;
    text-align: center;
}

.table td:hover {
    transition: font-size 0.3s ease;
}

.btn-outline-danger {
    color: #dc3545;
    border-color: #dc3545;
}

.btn-outline-danger:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.containervuoto p {
    font-size: 16px; /* Adjusted font size for smaller screens */
}

/* Responsive Styles */
@media screen and (max-width: 280px) {
    .add_film {
        padding: 6px 12px; /* Further adjusted padding for very small screens */
    }

    .containervuoto p {
        font-size: 14px; /* Further adjusted font size for very small screens */
    }
}
