/* infoListe.css */

/* Add your custom styles here */

.body {
    background-color: #292929;
    color: #212529;
}

.containervuoto {
    font-weight: bold;
    color: #ffa31a;
    text-align: center;
    margin-top: 50px;
}

.add_film {
    background-color: #ffa31a;
    color: #292929;
    padding: 8px 16px; /* Adjusted padding for smaller screens */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add_film:hover {
    font-size: 1.1em;
    background-color: #EF6D16;
    color: #ffffff;
    transition: font-size 0.3s ease;
}

h1 {
    color: #ffa31a;
    text-align: center; /* Centra il testo della classe h1 */
}

.container {
    margin-top: 20px;
}

.table th,
.table td {
    color: #ffffff;
    text-align: center;
}

.pcreator {
    color: #ffa31a;
    text-align: center; /* Centra il testo della classe pcreator */
}

.table td:hover {
    transition: font-size 0.3s ease;
}
.btn_remove{
    color: #dc3545;
    border-color: #dc3545;
    border-radius: 3px;
    background-color: transparent;
}


.btn_remove:hover {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

.containervuoto p {
    font-size: 16px; /* Adjusted font size for smaller screens */
}

/* Responsive Styles */

@media screen and (max-width: 767px) {
    .table {
        margin: 0 auto;
        width: 100%;
    }

    .pcreator {
        text-align: center;
    }

    .table td:last-child {
        text-align: left;
        padding-top: 10px;
    }
}

@media screen and (max-width: 515px) {
    .table th:nth-child(3),
    .table td:nth-child(3),
    .table th:nth-child(4),
    .table td:nth-child(4) {
        display: none; /* Nascondi le colonne Durata e Copertina */
    }

    h1,
    .pcreator {
        text-align: center; /* Centra il titolo della lista e la classe pcreator */
    }

    .add_film {
        padding: 6px 12px;
    }

    .containervuoto p {
        font-size: 14px;
    }
}



@media screen and (max-width: 400px) {
    .table th:nth-child(3),
    .table td:nth-child(3) {
        display: none;
    }

    h1,
    .pcreator {
        text-align: center; /* Centra il titolo della lista e la classe pcreator */
    }

    .add_film {
        padding: 6px 12px;
    }

    .containervuoto p {
        font-size: 14px;
    }
}

@media screen and (max-width: 350px) {
    .table {
        font-size: 12px; /* Riduci la dimensione del testo della tabella */
    }

    .add_film {
        padding: 6px 12px;
    }

    .containervuoto p {
        font-size: 14px;
    }

    @media screen and (max-width: 280px) {
        .add_film {
            padding: 4px 8px; /* Riduci ulteriormente il padding per il button sotto i 280px */
        }
    }
}