
.body {
    background-color: #292929;
    color: #212529;
}

.centered-alert {
    margin-top: 20px;
}

.title_pubblica {
    font-weight: bold;
    color: #ffa31a;
    text-align: center;
    padding-bottom: 2rem;
}

.alert {
    margin-top: 20px;
}

.card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
    position: relative;
    width: 100%; /* Make cards full width */
}
.grid-container {
    display: flex;
    justify-content: center;
}

.row {
    margin-top: 20px;
}

.card {
    width: 18rem;
    margin: 10px; /* Aggiungi margine tra le card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
    text-decoration: none;
}

.card:hover {
    transform: translateY(-5px);
    text-decoration: none;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
    .row {
        flex-direction: column;
    }

    .grid-container {
        align-items: center;
    }

    .card {
        width: 100%;
    }
}

@media screen and (min-width: 768px) and (max-width: 999px) {
    .row {
        justify-content: space-between;
    }

    .card {
        width: calc(25% - 20px);
    }
}

@media screen and (min-width: 500px) and (max-width: 767px) {
    .card {
        width: calc(33.33% - 20px);
    }
}

@media screen and (max-width: 499px) {
    .card {
        width: calc(100% - 20px);
    }
}