body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}

h1{
    color: #1b1b1b;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

.formRecensione{
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
